body {
    background-color: black;
  }
  
#game {
  height: 80%;
  width: 80%;
  border-radius: 5px;
  margin: 20px auto;
  position: absolute;
  left: 10%;
  background-color: #1a1a27;
  border: 3px solid rgb(57, 14, 126);
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: yellow;
  height: 40px;
}

body {
  margin: 0px auto;
  font-family: sans-serif;
}

.msgbox{
  background-color: rgba(73, 197, 206, 0.75);
  position: absolute;
  padding: 15px 18px;
  border-radius: 30px;
  top: 250px;
  left: 42%;
  width: 200px;
  font-size: 20px;
}

.message{
  text-align: center;
  margin-bottom: 15px;
}

#end{
  display: none;
}

.btn{
  height: 35px;
  margin:0px 70px;
  font-size: 15px;
  padding: 3px 8px;
  letter-spacing: 1.5px;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 5px;
}

#panel {
  color: red;
  width: 80%;
  margin: auto 10%;
}

#panel > div {
  float: left;
  width: 30%;
  text-align: center;
}